@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  /* Basic zoom-in */
  .hover-card-zoom-in {
    @apply shadow-xl p-10 rounded-3xl transition-all duration-300 hover:scale-105 hover:shadow-2xl hover:-translate-y-2;
  }

  /* Subtle lift + shadow only */
  .hover-card-lift {
    @apply transition-all duration-300 hover:-translate-y-2;
  }

  /* Slight tilt with scale */
  .hover-tilt {
    @apply transition-transform duration-500 hover:-rotate-3 hover:scale-[1.05];
  }
}
/* Body text */
.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

/* Headings */
.font-bruno {
  font-family: var(--font-bruno-ace), system-ui, sans-serif;
}

/* Optional: make it global */
body {
  font-family: var(--font-inter), system-ui, sans-serif;
  background-color: #010d17;
  color: white;
}

h1,
h2,
h3,
.heading {
  font-family: var(--font-bruno-ace), system-ui, sans-serif;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;

  max-width: clamp(640px, 90vw, 1536px);
}

.ev-gradient-stroke {
  position: relative;
  border-radius: 0.75rem; /* 12px */
}

/* Gradient stroke only (no fill) */
.ev-gradient-stroke::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px; /* stroke thickness */
  border-radius: inherit;

  background: linear-gradient(
    270deg,
    #0096ff -2.69%,
    #07afd2 -2.68%,
    #1cfb4b 104.04%
  );

  /* show ONLY the border ring, cut out the center */
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;

  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;

  pointer-events: none;
}

.gradient-text {
  background: linear-gradient(
    270deg,
    #0096ff -2.69%,
    #07afd2 -2.68%,
    #1cfb4b 104.04%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.gradient-bg {
  background: linear-gradient(
    270deg,
    #0096ff -2.69%,
    #07afd2 -2.68%,
    #1cfb4b 104.04%
  );
}


.prose {
  h1 h2 h3 h4 h5 strong {
    color: white;
  }
}

img {
  max-width: 100%;
}